.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > svg {
  height: 90%;
  margin: 0 10px;
}

.loading {
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
